.home-container {
    margin: 5vh 0;
}

.form-login {
    padding: 3vh;
    text-align: center;
    border: 0.1vh solid black;
    border-radius: 1vh;
}
.home-info {
    font-size: 2rem;
    background-color: lightgray;
    padding: 4vh 4vw;
}